/**
 *   Anchor CMS
 *
 *   Installer styles go here.
 *   Note to self: document this better.
 */
@import '//fonts.googleapis.com/css?family=Cousine:400,700|Karla:400,400italic,700,700italic';
/* Type styles */
* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.align-right {
  float: right;
}
.align-left {
  float: left;
}
::-webkit-input-placeholder {
  color: #bec8d4;
}
::-moz-placeholder {
  color: #bec8d4;
}
:placeholder {
  color: #bec8d4;
}
::-webkit-selection {
  background: #36a4e3;
  color: #fff;
}
::selection {
  background: #36a4e3;
  color: #fff;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.badge {
  display: inline-block;
  padding: 4px 8px;
  margin-left: 10px;
  vertical-align: middle;
  font-size: 10px;
  line-height: 10px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 3px;
  background: #c9c6bf;
  color: #fff;
}
.badge.published,
.badge.positive {
  background: #91b729;
}
.badge.admin {
  background: #36a4e3;
}
.badge.archived {
  background: #d9412c;
}
.split-options {
  height: 42px;
  /* 38px + 2px + 2px */
  border: 2px solid rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}
.split-options li {
  display: inline-block;
  float: left;
  border-right: 2px solid rgba(0, 0, 0, 0.05);
}
.split-options li:last-child {
  border-right: none;
}
.split-options li:first-child.active a {
  border-radius: 4px 0 0 4px;
  box-shadow: inset -2px 0 0 rgba(0, 0, 0, 0.05);
}
.split-options li:last-child.active a {
  border-radius: 0 4px 4px 0;
  box-shadow: inset 2px 0 0 rgba(0, 0, 0, 0.05);
}
.split-options li.active a {
  margin: -2px -2px 0;
  padding: 10px 22px;
  background: #aba8a1;
  color: #fff;
  box-shadow: inset -2px 0 0 rgba(0, 0, 0, 0.05), inset 2px 0 0 rgba(0, 0, 0, 0.05);
}
.split-options li a {
  display: inline-block;
  padding: 8px 20px;
  font-size: 14px;
  line-height: 22px;
  text-decoration: none;
  color: #847f75;
}
input,
textarea,
button,
[data-editor] {
  font: 16px/26px Karla, sans-serif;
  color: #847f75;
  padding: 8px 20px;
  border: none;
  outline: none;
}
input[type=code],
.code,
input#slug {
  font-size: 14px;
  font-family: Cousine, Consolas, monospace;
  text-transform: lowercase;
}
input,
textarea {
  border-radius: 4px;
}
textarea {
  resize: vertical;
  min-height: 290px;
  max-height: 600px;
}
textarea.code {
  min-height: 600px;
  max-height: 1200px;
  text-transform: none;
}
.checkbox-wrap {
  position: relative;
  display: block;
  width: 120px;
  height: 42px;
}
input[type=checkbox] {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 110px !important;
  height: 36px !important;
  opacity: 0;
  cursor: pointer;
}
input[type=checkbox] + .custom-checkbox {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: block;
  width: 110px;
  height: 36px;
  background: rgba(201, 198, 191, 0.3);
  border-radius: 40px;
  cursor: pointer;
}
.custom-checkbox:after {
  content: 'No';
  display: block;
  width: 60px;
  height: 36px;
  background: #847f75;
  color: #fff;
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  border-radius: 40px;
  -webkit-transition: margin .2s, background .2s;
  -moz-transition: margin .2s, background .2s;
  transition: margin .2s, background .2s;
}
input[type=checkbox]:checked + .custom-checkbox:after {
  content: 'Yes';
  background: #36a4e3;
  margin-left: 50px;
}
label[for] {
  display: block;
  padding-bottom: 10px;
  cursor: pointer;
  font-weight: 500;
}
select {
  display: inline-block;
  padding: 12px 40px 11px 22px;
  margin-right: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: normal;
  border: none;
  outline: none;
  background-color: #f8f7f6;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAGCAYAAADQQP5pAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyNpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDE0IDc5LjE1MTQ4MSwgMjAxMy8wMy8xMy0xMjowOToxNSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChNYWNpbnRvc2gpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjlFNzgwOTA3RTQyMDExRTNBQTBERjJFOTUwODQ0QkUzIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjlFNzgwOTA4RTQyMDExRTNBQTBERjJFOTUwODQ0QkUzIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6OUU3ODA5MDVFNDIwMTFFM0FBMERGMkU5NTA4NDRCRTMiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6OUU3ODA5MDZFNDIwMTFFM0FBMERGMkU5NTA4NDRCRTMiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4BqyEMAAAAbUlEQVR42qzQ0QnAIAwE0Is6Qev+E9ZM0GIjXCAt/WsCBxI/np4A6JZqGZYTz2mW3XJZjrWYc+LPFIsQ7AQi5o8RJM0ClT8rAXWs8E6zQH95ZXWN9UnABnfIqDRWFVF8YdmgoxvP+sYywFuAAQCy7h09dmCjIgAAAABJRU5ErkJggg==);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  color: #847f75;
  font: 16px Karla, sans-serif;
  /* Firefox be cray */
  text-indent: 0.01px;
  text-overflow: '';
}
.filter select {
  background-color: #121116;
}
.btn,
button {
  display: inline-block;
  padding: 11px 22px;
  background: #36a4e3;
  color: #fff;
  font-size: 13px;
  line-height: 14px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 20px;
}
.btn:before,
button:before,
.btn:after,
button:after {
  display: none;
}
.btn:hover,
button:hover {
  color: #fff;
}
.btn:active,
button:active {
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
}
.btn.positive,
button.positive {
  background: #97c73b;
}
.btn.negative,
button.negative,
.btn.delete,
button.delete {
  background: #d9412c;
}
.btn.secondary,
button.secondary {
  background: #aba8a1;
}
.btn.subdued,
button.subdued {
  background: transparent !important;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.2);
  opacity: .5;
}
.btn.subdued.text,
button.subdued.text {
  color: #a7a19b !important;
  box-shadow: inset 0 0 0 2px rgba(171, 168, 161, 0.2);
}
.btn.subdued.text:active,
button.subdued.text:active {
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1), rgba(171, 168, 161, 0.2);
}
.btn.subdued:active,
button.subdued:active {
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.2), inset 0 4px 2px rgba(0, 0, 0, 0.03);
  background: rgba(0, 0, 0, 0.02) !important;
}
.btn.subdued:hover,
button.subdued:hover {
  opacity: 1;
}
.btn + .btn,
button + .btn {
  margin-left: 25px;
}
.amp {
  font: italic 105% "Adobe Caslon Pro", Baskerville, "Goudy Old Style", Palatino, "Book Antiqua", serif;
  margin-right: 3px;
}
body {
  background: #1b1a21;
  color: #fff;
  font: 15px/25px Karla, sans-serif;
}
body > small {
  position: absolute;
  left: 32px;
  bottom: 32px;
  color: #898a94;
}
body > small a {
  padding: 0 3px;
  color: #d2d2db;
  text-decoration: none;
}
body > small a:hover {
  color: #fff;
}
.errors {
  padding: 8px 20px;
  margin-bottom: 1em;
  background: #d9412c;
  color: #fff;
  border-radius: 6px;
}
.errors li {
  list-style: none;
}
a {
  color: #36a4e3;
}
nav {
  position: absolute;
  left: 32px;
  top: 32px;
  right: 32px;
}
nav .anchor-logo {
  float: left;
}
nav ul {
  float: right;
  list-style: none;
}
nav li {
  float: left;
  margin-left: 40px;
  color: #d2d2db;
}
nav li.elapsed {
  position: relative;
  color: #fff;
}
nav li.elapsed:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  display: inline-block;
  width: 8px;
  height: 4px;
  margin-left: -4px;
  background: currentColor url('../img/arrow-up.png');
  background-size: 8px 4px;
  transition: none;
}
nav li.elapsed ~ li {
  color: #898a94;
}
h1 {
  margin-bottom: 60px;
  font-size: 21px;
  font-weight: normal;
}
.content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
form p {
  padding-bottom: 14px;
}
form .multi {
  position: relative;
  overflow: hidden;
}
form .multi p {
  float: left;
  padding-right: 20px;
  width: 80%;
}
form .multi p:last-child {
  width: 20%;
  padding-right: 0;
}
form .multi.half p {
  width: 50%;
}
form label {
  color: #898a94;
}
form [type=submit],
form .btn.subdued {
  float: right;
  margin-top: 40px;
}
form .btn.subdued {
  float: left;
}
form select {
  padding: 10px 20px;
  padding-right: 48px;
  margin-right: 0;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  background: #27252f url('../img/select.png') no-repeat 100% 50%;
  background-size: 28px 5px;
  color: #fff;
}
form select:focus {
  outline: none;
}
form select,
form input,
form textarea {
  display: block;
  font: 15px/20px Karla, sans-serif;
}
form input,
form textarea {
  width: 100%;
}
.i10n form p {
  float: left;
  padding-right: 40px;
}
.i10n form p:last-child {
  float: none;
  padding: 0;
}
.i10n form p:nth-child(-2n+2) {
  padding-right: 0;
}
.anchor-logo {
  display: block;
  width: 32px;
  height: 32px;
  font-size: 0;
  line-height: 32px;
  pointer-events: none;
}
.anchor-logo:before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 22px;
  vertical-align: middle;
  margin-right: 8px;
  background: currentColor url('../img/nav-icons.png') no-repeat -312px 0;
  background-size: 336px 22px;
}
