html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font: 1rem/1.6rem 'Noto Sans', sans-serif;
  color: #222;
  background: #F2F2F2;
  padding: 0;
  margin: 0;
}
.column {
  float: left;
  padding: 0 1rem;
}
.column.third {
  width: 33.333333%;
}
.column.half {
  width: 50%;
}
.column.two-thirds {
  width: 66.666666%;
}
.row {
  margin: 0 -0.5rem;
  overflow: hidden;
}
.row .column {
  padding: 0 .5rem;
}
.wrap {
  margin: 0 auto;
  width: 90%;
  max-width: 80rem;
}
:focus {
  outline: none;
}
a {
  color: #4682b4;
  text-decoration: none;
}
header {
  overflow: hidden;
  background: #fff;
  padding: 1.6rem 0;
  border-bottom: 2px solid #e7e7e7;
}
header .logo {
  font-weight: 600;
  font-size: 3rem;
  display: inline-block;
  text-transform: uppercase;
  color: #2b3c4e;
}
header span {
  display: block;
  font-size: 80%;
  margin-bottom: 1rem;
}
header nav {
  background: #19232d;
}
header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
header nav ul li {
  float: left;
  text-transform: uppercase;
}
header nav ul li a {
  color: #efefef;
  display: block;
  padding: .6rem 1.6rem;
  font-size: 90%;
  border-bottom: 4px solid #294d6b;
  transition: all 250ms ease-in-out;
}
header nav ul li a:hover {
  background: #22303d;
  border-bottom: 4px solid #4682b4;
}
footer {
  color: #ffffff;
  background: #19232d;
  overflow: hidden;
}
blockquote {
  padding: 0 1.6em;
  margin: 1rem 0;
  border-left: 3px solid #d9d9d9;
  background: #f2f2f2;
  overflow: hidden;
}
figure {
  position: relative;
  margin: 0;
}
figure img {
  width: 100%;
}
figure figcaption {
  position: absolute;
  bottom: .8rem;
  left: 1rem;
  font-size: 90%;
  color: #fff;
  width: 80%;
}
.content {
  overflow: hidden;
  background: #fff;
  padding: 2rem 0;
  border-top: 2px solid #e7e7e7;
}
.boxes {
  overflow: hidden;
  margin: 1rem -0.5rem;
}
.boxes figure {
  float: left;
  width: 33.333333%;
  padding: 0 .5rem;
}
.boxes figure a {
  color: #fff;
}
.heading {
  background: #19232d;
  color: #fff;
  text-transform: uppercase;
  font-size: 90%;
  padding: .4rem 1rem;
  margin: 1rem 0;
}
.item {
  overflow: hidden;
  margin: 1rem 0;
  font-size: 90%;
  color: #949697;
}
.item.small figure {
  width: 30%;
  float: left;
  margin-right: 1rem;
}
.item img {
  width: 100%;
}
.item a {
  color: #444;
}
