/**
 *   Anchor CMS - admin interface
 *   v2.0.1, by @anchorcms
 */


/* Admin panel-wide styles
   =============
*/

body {
	font: 15px/25px "Helvetica Neue", "Open Sans", "DejaVu Sans", Arial, sans-serif;
	color: #7d8693;
	background: #eceef1;
}

b,
strong {
	font-weight: 500;
}

a,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	color: #486899;
	text-decoration: none;
	transition: color .25s, background .25s, opacity .25s;
	-webkit-transition: color .25s, background .25s, opacity .25s;
}

a,
fieldset,
img {
	border: none;
}


/* Layout
   =============
*/

.profile,
.wrap {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}


/* Header
   =============
*/

.top {
	position: relative;
	z-index: 21;
	padding: 15px 0;
	background: #444f5f;
}

.top a {
	display: inline-block;
	padding: 0 18px;
	font-size: 13px;
	font-weight: bold;
	line-height: 34px;
}

.top .logo {
	margin-right: 25px;
}

.top .logo a {
	width: 24px;
	height: 34px;
	padding: 0;
	text-indent: -1000px;
	background: transparent url("../img/logo.png") no-repeat center center;
}

.top nav,
.top nav a,
.top nav li {
	float: left;
	list-style: none;
}

.top nav img {
	position: relative;
	top: 4px;
}

.top nav a {
	margin-right: 15px;
	color: #7b8eaa;
}

.top nav a:hover {
	color: #a4b4cb;
}

.top nav .active a {
	color: #394556;
	background: #687993;
	border-radius: 5px;
}

.top .btn {
	float: right;
	margin-left: 18px;
	padding: 0 16px;
	color: #6a788d;
	background: #38414f;
	border-radius: 5px;
}

.top .btn:hover {
	color: #8491a5;
	background: #2f3744;
}


/* Heading
   =============
*/

hgroup {
	overflow: hidden;
}

hgroup h1 {
	float: left;
	font-size: 29px;
	font-weight: 300;
	line-height: 120px;
	color: #99a3b1;
}

hgroup nav {
	float: right;
	line-height: 120px;
}


/* Content fragments
   =============
*/

.highlight,
.status {
	position: absolute;
	top: 30px;
	right: 30px;
	padding: 3px 6px;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	line-height: 14px;
	color: #848f9f;
	text-transform: uppercase;
	background: #e2e5eb;
	background: rgba(129, 145, 171, .2);
	border-radius: 3px;
}

.disabled,
[disabled] {
	opacity: .5;
	cursor: not-allowed;
}

.paging {
	clear: both;
	padding-top: 25px;
	text-align: center;
}

.paging a,
.paging strong {
	display: inline-block;
	padding: 0.2em 1em;
	color: #7d8693;
	background: #fff;
	border-radius: 5px;
}


/* Buttons
   =============
   [1] span.btn 
*/

.btn {
	display: inline-block;
	padding: 0 22px;
	font-size: 13px;
	font-weight: bold;
	line-height: 38px;
	color: #fff;
	background: #6aad28;
	border: none;
	border-radius: 5px;
	cursor: pointer; /* [1] */
}

.btn:hover {
	background: #4f8c12;
}

.btn.secondary {
	background: #a4adbb;
}

.btn.secondary:hover {
	background: #848f9f;
}

.btn.blue {
	background: #7599d2;
}

.btn.blue:hover {
	background: #5479b2;
}

.btn.red {
	background: #c4533d;
}

.btn.red:hover {
	background: #a03621;
}

#exit-focus.btn {
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 0 17px;
	line-height: 32px;
	color: #7c8592;
	background: #d4d9e0;
}

#exit-focus.btn:hover {
	background: #cdd3db;
}


/* Footer
   =============
*/

.bottom {
	padding: 40px 0 30px;
}

.bottom small {
	float: left;
	font-size: 13px;
}

.bottom em {
	float: right;
	font-size: 13px;
	font-style: normal;
	color: #9ba4b0;
}


/* List styling
   =============
*/

.list {
	width: 100%;
	list-style: none;
	border-top: 1px solid #dadfe5;
}

.list li a {
	position: relative;
	display: block;
	padding: 25px 30px 15px;
	overflow: hidden;
	color: #7d8693;
	border-bottom: 1px solid #dadfe5;
}

.list li a:hover {
	background: #e7eaee;
}

.list li strong {
	position: relative;
	display: block;
	width: 85%;
	height: 25px;
	overflow: hidden;
	font-size: 19px;
	white-space: nowrap;
	color: #606b7b;
	text-overflow: ellipsis;
}

.list li strong .status {
	position: relative;
	top: 10px;
	right: 30px;
	z-index: 10;
	float: right;
}

.list li strong + span {
	display: block;
	padding-bottom: 8px;
	font-size: 13px;
	color: #a3acb9;
}

.list li p {
	display: block;
	margin-bottom: 10px;
}

.list li .status {
	margin-left: 10px;
}

[draggable] {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}

.sortable {
	list-style-type: none;
}

.sortable li {
	width: 28%;
	margin: 10px 0;
	border: 2px solid transparent;
}

.sortable li.item {
	width: 28%;
	margin: 10px 0;
	padding: 7px 14px;
	color: #7d8693;
	background: #fff;
	border-radius: 5px;
	border: 2px solid #fff;
	cursor: move;
}

.sortable li.over {
	border: 2px solid #ccc;
}

.sortable li.moving {
	opacity: .7;
}

.empty {
	margin-left: 150px;
	padding: 60px 0;
	text-align: center;
}

.empty .icon {
	display: block;
	width: 52px;
	height: 54px;
	margin: 0 auto 15px;
	background: url("../img/icons.png") no-repeat;
}

.sidebar + .main {
	float: right;
	width: 760px;
	padding-top: 0;
}

.sidebar {
	float: left;
	width: 150px;
	border-top: 1px solid #dadfe5;
}

.sidebar a {
	display: block;
	padding: 5px 20px;
	font-size: 13px;
	color: #616a71;
	border-bottom: 1px solid #dadfe5;
	-webkit-transition: none;
}

.sidebar a:hover {
	background: #e7eaee;
}

.sidebar a.active {
	background: #fff;
}

.statuses .icon {
	position: relative;
	top: 3px;
	left: -7px;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 2px;
	background: url("../img/statuses.png");
}

.statuses a:hover .icon {
	background-position: -16px 0;
}

.statuses a.active .icon {
	background-position: -32px 0;
}

.statuses a.pending .icon {
	background-position: 0 -16px;
}

.statuses a.pending:hover .icon {
	background-position: -16px -16px;
}

.statuses a.pending.active .icon {
	background-position: -32px -16px;
}

.statuses a.spam .icon {
	background-position: 0 -48px;
}

.statuses a.spam:hover .icon {
	background-position: -16px -48px;
}

.statuses a.spam.active .icon {
	background-position: -32px -48px;
}

.statuses a.approved .icon,
.statuses a.published .icon {
	background-position: 0 -32px;
}

.statuses a.approved:hover .icon,
.statuses a.published:hover .icon {
	background-position: -16px -32px;
}

.statuses a.approved.active .icon,
.statuses a.published.active .icon {
	background-position: -32px -32px;
}

.statuses a.archived .icon {
	background-position: 0 -64px;
}

.statuses a.archived:hover .icon {
	background-position: -16px -64px;
}

.statuses a.archived.active .icon {
	background-position: -32px -64px;
}

.statuses a.draft .icon {
	background-position: 0 -80px;
}

.statuses a.draft:hover .icon {
	background-position: -16px -80px;
}

.statuses a.draft.active .icon {
	background-position: -32px -80px;
}


/* Login
   =============
*/

body.login {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -150px;
}

.login .content,
.login .wrap {
	width: 300px;
}

.login h1 {
	padding-bottom: 25px;
	font-size: 25px;
	font-weight: lighter;
	line-height: 60px;
	color: #fff;
}

.login #logo {
	padding: 0;
}

.login label {
	display: none;
}

.login fieldset {
	border: none;
}

.login input {
	width: 300px;
	margin-bottom: 20px;
	padding: 14px 16px;
}

.login .buttons a {
	float: right;
	font-size: 13px;
	font-weight: 500;
	line-height: 38px;
}

.posts.empty .icon {
	width: 52px;
	background-position: -204px 0;
}

.comments.empty .icon {
	width: 55px;
	background-position: -256px 0;
}

.pages.empty .icon {
	width: 45px;
	background-position: -311px 0;
}

.empty a {
	margin-top: 80px;
}


/* Post content
   =============
*/

.header {
	position: relative;
	background: #fff;
}

.header input {
	float: left;
	width: 600px;
	padding: 30px 0;
	font-size: 29px;
	font-weight: lighter;
	line-height: 40px;
	background: transparent;
}

.header .buttons {
	float: right;
	padding: 30px 0;
}

.header .buttons .btn {
	margin-left: 8px;
}

.redirect {
	height: 0;
	background: #f9f9f9;
	opacity: 0;
	transition: all .3s;
	-webkit-transition: all .3s;
}

.redirect.show {
	top: 0px;
	height: 37px;
	opacity: 0.99;
}

.redirect input {
	width: 100%;
	padding: 10px 0;
	color: #9faab6;
	background: none;
}

.main {
	padding: 30px 0;
}

.main textarea {
	width: 100%;
}

.main textarea[name=content],
.main textarea[name=html] {
	padding: 0;
	background: transparent;
	resize: none;
}

.meta {
	padding: 30px 0;
	background: #ccd2d9;
}

#post-data input[type=checkbox]:checked,
.split input[type=checkbox]:checked {
	background-image: url("../img/tick.gif");
}

#post-data input[type=file] + em {
	opacity: 1;
}

#post-data .media-upload textarea {
	width: 317px;
	min-height: 150px;
	max-height: 700px;
	resize: vertical;
}

.split input,
.split select {
	min-width: 300px;
}

.split textarea {
	min-width: 500px;
	min-height: 120px;
	max-height: 600px;
	border-radius: 0 5px 5px 5px !important;
}

.split p {
	position: relative;
	clear: both;
	margin-bottom: 15px;
	overflow: hidden;
}

.split em {
	display: inline-block;
	max-width: 500px;
	padding-left: 20px;
	font-style: normal;
	line-height: 28px;
	opacity: 0;
	transition: opacity .25s;
	-webkit-transition: opacity .25s;
}

.split input:focus + em,
.split select:focus + em,
.split textarea:focus + em {
	opacity: 1;
}

.split .twitter {
	position: relative;
}

.split .twitter input {
	padding-left: 32px;
	border-radius: 0 5px 5px 0;
}

.split .twitter .at {
	position: absolute;
	top: 8px;
	left: 170px;
	z-index: 10;
	color: #aab1bc;
	pointer-events: none;
}

.split + .buttons {
	clear: both;
}

.split + .buttons button:first-child {
	margin: 20px 15px 20px 150px;
}

::-webkit-slider-thumb,
input[type="range"] {
	-webkit-appearance: none;
}

input[type="range"] {
	padding: 0 5px 0 0 !important;
	overflow: hidden;
	background: #cdd3db;
	cursor: col-resize;
}

::-webkit-slider-thumb {
	position: relative;
	display: block;
	width: 15px;
	height: 29px;
	background: #95a1b2;
	border-radius: 3px;
}

::-webkit-slider-thumb:before {
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	left: -300px;
	display: block;
	background: #95a1b2;
	content: "";
}

.prevue {
	position: absolute;
	top: -100px;
	right: 0;
	left: 0;
	z-index: 10;
	min-height: 250px;
	padding: 40px 0;
	background: #e2e5e9;
	pointer-events: none;
	transition: top .25s, opacity .4s;
	-webkit-transition: top .25s, opacity .4s;
}

.prevue.active {
	top: 164px;
}

.prevue h2 {
	padding: 0 0 15px;
	font-size: 25px;
}


/* Focus mode
   =============
*/

.buttons,
.meta,
.top {
	opacity: 1;
	transition: opacity .4s;
	-webkit-transition: opacity .4s;
}

.focus .buttons,
.focus .meta,
.focus .top {
	opacity: 0;
	pointer-events: none;
}

.focus .meta {
	height: 0;
	overflow: hidden;
}

.header {
	transition: background .4s;
	-webkit-transition: background .4s;
}

.focus .header,
.focus .main textarea {
	background: #eceef1;
}


/* Drag-n-drop upload
   =============
*/

#media {
	display: none;
}

#upload-file {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	background: rgba(178, 190, 208, .75);
	opacity: 0;
	transition: opacity .25s, background .25s;
	-webkit-transition: opacity .25s, background .25s;
}

#upload-file.success {
	background: rgba(119, 181, 47, .75);
}

.draggy #upload-file {
	z-index: 10000;
	opacity: 1;
}

#upload-file span {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin: -40px 0 0 -125px;
	padding-top: 50px;
	font-weight: bold;
	font-size: 17px;
	line-height: 30px;
	color: #768498;
	text-align: center;
	background: url("../img/cloud.png") no-repeat 50% 0;
	transition: color .25s;
	-webkit-transition: color .25s;
}

#upload-file.success span {
	color: #fff;
	background-image: url("../img/tick.png");
}

.indent {
	padding-left: 40px;
}