button,
input,
textarea {
    padding: 11px 16px;
    font-size: 15px;
    font-family: inherit;
    line-height: 15px;
    color: #4a525f;
    background: #fff;
    border: none;
    border-radius: 5px;
}
::-webkit-slider-thumb,
input[type="range"] {
    -webkit-appearance: none;
}
input[type="range"] {
    padding: 0 5px 0 0 !important;
    overflow: hidden;
    background: #cdd3db;
    cursor: col-resize;
}
::-webkit-slider-thumb {
    position: relative;
    display: block;
    width: 15px;
    height: 29px;
    background: #95a1b2;
    border-radius: 3px;
}
::-webkit-slider-thumb:before {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    left: -300px;
    display: block;
    background: #95a1b2;
    content: "";
}
button:focus,
input:focus,
select:focus,
textarea:focus {
    outline: none;
}
textarea {
    line-height: 25px;
}
button {
    cursor: pointer;
}
legend {
    display: block;
    float: left;
    margin: 40px 0 30px;
    font-size: 19px;
    font-weight: 500;
}
legend + em {
    float: right;
}
select {
    display: block;
    float: left;
    height: 39px;
    min-width: 216px;
    padding: 9px 0 8px 20px;
    font: 15px/22px "Helvetica Neue", sans-serif;
    color: #7f8b9e;
    background: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    -webkit-appearance: none;
    cursor: pointer;
}
select + .arrow {
    position: absolute;
    top: 19px;
    display: inline-block;
    margin-left: -24px;
    border-top: 4px solid #aab3c0;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    pointer-events: none;
}
.half {
    float: left;
    width: 48.5%;
    margin-right: 3%;
}
.half + .half {
    margin-right: 0;
}
.half label + input,
.half label + select,
.half label + textarea {
    width: auto;
    min-width: 305px;
}
.half em,
.half legend {
    display: none;
}
.split label {
    display: inline-block;
    float: left;
    height: 39px;
    min-width: 160px;
    padding: 0 18px;
    line-height: 39px;
    text-align: center;
    background: #e6e9ed;
    border-radius: 5px 0 0 5px;
    -webkit-user-select: none;
}
.split label + input,
.split label + textarea {
    float: left;
    height: 39px;
    border-radius: 0 5px 5px 0;
}
.split label + textarea {
    resize: vertical;
}
textarea[name="css"],
textarea[name="js"] {
    font-family: Monaco, "Courier New", courier, monospace;
}
.split summary {
    margin-left: 160px;
}
.split input[type=checkbox] {
    width: 66px;
    min-width: 66px;
    background: #fff url("../img/cross.gif") no-repeat 50% 50%;
    -webkit-appearance: none;
    cursor: pointer;
}
.split input[type=checkbox]:checked {
    background-image: url("../img/tick.gif");
}
.split input,
.split select {
    min-width: 300px;
}
.split textarea {
    width: 500px;
    min-height: 120px;
    max-height: 600px;
    border-radius: 0 5px 5px 5px !important;
}
.split p {
    position: relative;
    clear: both;
    margin-bottom: 15px;
    overflow: hidden;
}
.split em {
    padding: 6px 10px;
    font-style: normal;
    opacity: 0;
    transition: opacity .25s;
    -webkit-transition: opacity .25s;
}
.split input:focus + em,
.split select:focus + em,
.split textarea:focus + em {
    opacity: 1;
}
.split input[type=file] {
    padding: 0;
    overflow: hidden;
}
.split .file {
    display: block;
    float: left;
    width: 50px;
    height: 39px;
    overflow: hidden;
    background: #e6e9ed url("../img/cloud.png") no-repeat center center;
    background-size: 32px;
    border-radius: 0 5px 5px 0;
}
.split .file input {
    display: block;
    height: 39px;
    opacity: 0;
}
.split .current-file {
    display: block;
    float: left;
    height: 39px;
    min-width: 250px;
    padding: 0 16px;
    overflow: hidden;
    line-height: 39px;
    background: #fff;
    border-radius: 0;
}
.split .remove-file {
    display: block;
    float: left;
    width: 39px;
    height: 39px;
    border-radius: 0;
}
.split .remove-file a {
    display: block;
    width: 39px;
    height: 39px;
    overflow: hidden;
    text-indent: -1000px;
    background: #e6e9ed url("../img/cross.gif") no-repeat center center;
}
.split .twitter {
    position: relative;
}
.split .twitter input {
    padding-left: 32px;
    border-radius: 0 5px 5px 0;
}
.split .twitter .at {
    position: absolute;
    top: 8px;
    left: 170px;
    z-index: 10;
    color: #aab1bc;
    pointer-events: none;
}
.split + .buttons {
    clear: both;
}
.split + .buttons button:first-child {
    margin: 20px 15px 20px 160px;
}