
* {
	margin: 0;
	padding: 0;

	-webkit-font-smoothing: antialiased;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	outline: none;
}

::selection {
	background: #606d80;
	color: #fff;
}

::-webkit-input-placeholder {
	color: #bec8d4;
}

::-moz-placeholder {
	color: #bec8d4;
}

::placeholder {
	color: #bec8d4;
}
