/*****************************************************************
 *
 *		Anchor CMS - Default Theme
 *		by @visualidiot
 *		
 *****************************************************************
 *
 *		This is a minimal theme, designed to illustrate what
 *		you can do with Anchor.
 *		
 */
 
* { margin: 0; padding: 0; border: none; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; }

html { height: 100%; }
body { font: 11px/24px "Helvetica Neue", sans-serif; color: #666; -webkit-box-shadow: inset 0 0 50px rgba(0,0,0,.1); -moz-box-shadow: inset 0 0 50px rgba(0,0,0,.1); box-shadow: inset 0 0 50px rgba(0,0,0,.1); min-height: 100%; }

div#wrap { width: 600px; margin: 0 auto; padding-top: 100px; }

h1#logo { width: 100px; height: 32px; margin-bottom: 50px; float: left; }
	h1#logo a { height: 32px; width: 32px; display: block; text-indent: -999em; background: url(img/logo.png) no-repeat 0 0; opacity: .4; -webkit-transition: opacity .5s; -moz-transition: opacity .5s; transition: opacity .5s; }
		h1#logo a:hover { opacity: .8; }
		h1#logo a:active { margin-top: 1px; margin-bottom: -1px; }
		
ul#list { list-style: none; float: left; width: 500px; }
	ul#list li { display: block; margin-bottom: 4px; }
		ul#list li:first-child:before { content: 'Most recently, I posted'; display: block; font-weight: bold; font-size: 10px; color: #ccc; text-transform: uppercase; line-height: 14px; }
	ul#list li a { font: lighter 20px/40px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif; color: #666; text-decoration: none; -webkit-transition: color .5s; -moz-transition: color .5s; transition: color .5s; }
		ul#list li a:hover { color: #333; }
		ul#list li:first-child a { font-size: 24px; color: #555; }