* {
    margin: 0;
    padding: 0;
    
    list-style: none;
}

::selection {
    color: #fff;
    background: rgba(57,115,169,.7);
    
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
}
    ::-webkit-selection {
        background: rgba(57,115,169,.7);
        color: #fff;
        
        text-shadow: 0 1px 1px rgba(0,0,0,.3);
    }
    ::-moz-selection {
        background: rgba(57,115,169,.7);
        color: #fff;
        
        text-shadow: 0 1px 1px rgba(0,0,0,.3);
    }

body {
    background: #e7f0f9 url('../img/bg.gif') repeat-x 0 0;
    
    font: 13px/22px "Helvetica Neue", sans-serif;
    color: #75818c;
    
    width: 900px;
    margin: 0 auto;
}

a {
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    -ms-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
}

i, em {
    font-family: Georgia, serif;
}

header#top {
    height: 61px;
    line-height: 61px;
}
    header#top a#logo {
        display: block;
        float: left;
        
        margin: 20px 0 0;
        height: 24px;
    }
        header#top a#logo img {
            display: block;
        }
        header#top a#logo:hover {
            opacity: .8;
        }
    header#top nav {
        float: left;
        padding-left: 20px;
    }
        header#top nav li {
            display: inline-block;
            float: left;
        }
        header#top nav li a {
            color: #909eab;
            
            font-weight: bold;
            text-decoration: none;
            
            display: block;
            padding: 0 20px;
            
            text-shadow: 0 1px 0 rgba(0,0,0,.3);
        }
            header#top nav li a:hover {
                color: #b7cbdf;
            }
            header#top nav li.active a {
                color: #fff;
                
                background: url('../img/active.png') no-repeat 50% 0;
            }
    header#top p {
        color: #91969c;  
        float: right;          
    }
        header#top p a {
            color: #d7dfe7;
            padding-left: 15px;
        }
        header#top p a:hover {
            color: #fff;
        }
    
h1 {
    height: 86px;
    line-height: 86px;
    
    font-weight: lighter;
    color: #304355;
    text-shadow: 0 1px 0 rgba(255,255,255,.25);
    
    position: relative;
}
    h1 a, button {
        background-color: #4375a7;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#5e92be), to(#285890));
        background-image: -webkit-linear-gradient(top, #5e92be, #285890);
        background-image: -moz-linear-gradient(top, #5e92be, #285890);
        background-image: -o-linear-gradient(top, #5e92be, #285890);
        background-image: -ms-linear-gradient(top, #5e92be, #285890);
        background-image: linear-gradient(top, #5e92be, #285890);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#5e92be', EndColorStr='#285890');
        
        border: 1px solid #164773;
        
        border-radius: 4px;
        
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 1px rgba(0,0,0,.05), inset 0 -1px 1px rgba(0,0,0,.1);
        -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 1px rgba(0,0,0,.05), inset 0 -1px 1px rgba(0,0,0,.1);
        box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 1px rgba(0,0,0,.05), inset 0 -1px 1px rgba(0,0,0,.1);
        
        font: bold 13px "Helvetica Neue", sans-serif;
        color: #fff;
        text-shadow: 0 1px 1px rgba(0,0,0,.3);
        text-decoration: none;
        
        float: right;
        padding: 8px 14px;
        margin-top: 28px;
        
        cursor: pointer;
    }
        h1 a:active, button:active, section.content nav.tabs ul li a.active {
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.3), inset 0 -1px 1px rgba(0,0,0,.2),0 1px 1px rgba(0,0,0,.1);
            -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.3), inset 0 -1px 1px rgba(0,0,0,.2),0 1px 1px rgba(0,0,0,.1);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.3), inset 0 -1px 1px rgba(0,0,0,.2),0 1px 1px rgba(0,0,0,.1);
            
            background-color: #2d5d8a;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#386c98), to(#224f7d));
            background-image: -webkit-linear-gradient(top, #386c98, #224f7d);
            background-image: -moz-linear-gradient(top, #386c98, #224f7d);
            background-image: -o-linear-gradient(top, #386c98, #224f7d);
            background-image: -ms-linear-gradient(top, #386c98, #224f7d);
            background-image: linear-gradient(top, #386c98, #224f7d);
            filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#386c98', EndColorStr='#224f7d');
            
            border: 1px solid #0d3355;
        }
    button[name=delete] {
        border-color: #681a1c;
    
        background-color: #b04e51;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#c86a6d), to(#983336));
        background-image: -webkit-linear-gradient(top, #c86a6d, #983336);
        background-image: -moz-linear-gradient(top, #c86a6d, #983336);
        background-image: -o-linear-gradient(top, #c86a6d, #983336);
        background-image: -ms-linear-gradient(top, #c86a6d, #983336);
        background-image: linear-gradient(top, #c86a6d, #983336);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#c86a6d', EndColorStr='#983336');
    }
        button[name=delete]:active {
            border-color: #501314;
            
            background-color: #802d30;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#984447), to(#69171a));
            background-image: -webkit-linear-gradient(top, #984447, #69171a);
            background-image: -moz-linear-gradient(top, #984447, #69171a);
            background-image: -o-linear-gradient(top, #984447, #69171a);
            background-image: -ms-linear-gradient(top, #984447, #69171a);
            background-image: linear-gradient(top, #984447, #69171a);
            filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#984447', EndColorStr='#69171a');
        }
        
button#create {
	float: left;
	margin-bottom: 30px;
	margin-left: 120px;
}
    
section.content {
    background: #fff;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    -webkit-box-shadow: inset 0 -1px 1px #f5f5f5,0 1px 1px rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 -1px 1px #f5f5f5,0 1px 1px rgba(0,0,0,.1);
    box-shadow: inset 0 -1px 1px #f5f5f5,0 1px 1px rgba(0,0,0,.1);
    
    margin: 40px 0;
    padding: 30px 40px;
    
    width: 550px;
    float: left;
}

    section.content nav.tabs {
        margin-bottom: 2em;
    }
        section.content nav.tabs ul {
            margin: 0;
            padding: 0 0 1em 0;
            border-bottom: 1px solid #ebf0f3;
        }
            section.content nav.tabs ul li {
                display: inline-block;
                margin-right: 15px;
            }
                section.content nav.tabs ul li a {
                    display: inline-block;
                    padding: 5px 12px;
                    
                    position: relative;
                    text-decoration: none;
                    font-weight: bold;
                    
                    background: #f2f4f5;

                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    border-radius: 4px;
                    
                    -webkit-box-shadow: inset 0 -1px 1px rgba(0,0,0,.05);
                    -moz-box-shadow: inset 0 -1px 1px rgba(0,0,0,.05);
                    box-shadow: inset 0 -1px 1px rgba(0,0,0,.05);
                }
                    section.content nav.tabs ul li a.active {
                        color: #fff;
                    }
                section.content nav.tabs ul li span {
                    display: inline-block;
                    position: relative;
                    top: -10px;
                    
                    margin-right: -24px;
    
                    padding: 6px;
                    min-width: 10px;
                    height: 10px;
                    
                    font-weight: bold;
                    font-size: 10px;
                    line-height: 10px;
                    
                    color: #fff;

                    text-align: center;
                    text-shadow: 0 1px 1px rgba(0,0,0,.4);
                    text-decoration: none;
                    
                    background-color: #b63538;
                    background-image: -webkit-gradient(linear, left top, left bottom, from(#ca4d4f), to(#a31d21));
                    background-image: -webkit-linear-gradient(top, #ca4d4f, #a31d21);
                    background-image: -moz-linear-gradient(top, #ca4d4f, #a31d21);
                    background-image: -o-linear-gradient(top, #ca4d4f, #a31d21);
                    background-image: -ms-linear-gradient(top, #ca4d4f, #a31d21);
                    background-image: linear-gradient(top, #ca4d4f, #a31d21);
                    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ca4d4f', EndColorStr='#a31d21');
                    
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    border-radius: 20px;
                    
                    border: 1px solid #730707;
                    
                    box-shadow: inset 0 1px 0 rgba(255,255,255,.25), 0 1px 1px rgba(0,0,0,.05);
                }

    section.content a, .popup_wrapper a {
        color: #527ba5;
    }
        section.content a:hover, .popup_wrapper a:hover {
            color: #3b444d;
        }
        
    section.content ul.list {
        list-style: none;
    }
        section.content ul.list li {
            position: relative;
            border-bottom: 1px solid #f5f7f8;
        }
            section.content ul.list li:last-child {
                border-bottom: none;
            }
        section.content ul.list a {
            display: block;
            
            padding: 15px 0;
            
            text-decoration: none;
        }
            section.content ul.list strong {
                display: block;
                padding-bottom: 3px;

                font-size: 20px;
            }
            section.content ul.list span {
                display: block;
                opacity: .6;
            }
            section.content ul.list i {
                position: absolute;
                right: 0;
                top: 18px;
            }
            
p.notification {
    position: relative;
    
    margin: 20px 0 -20px;
    padding: 10px 20px;
    
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.3);
    
    -webkit-box-shadow: inset 0 2px 1px rgba(0,0,0,.15), inset 0 1px 1px rgba(0,0,0,.05),0 1px 1px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 2px 1px rgba(0,0,0,.15), inset 0 1px 1px rgba(0,0,0,.05),0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 2px 1px rgba(0,0,0,.15), inset 0 1px 1px rgba(0,0,0,.05),0 1px 1px rgba(0,0,0,.05);
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.15)), to(transparent));
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,.15), transparent);
    background-image: -moz-linear-gradient(top, rgba(0,0,0,.15), transparent);
    background-image: -o-linear-gradient(top, rgba(0,0,0,.15), transparent);
    background-image: -ms-linear-gradient(top, rgba(0,0,0,.15), transparent);
    background-image: linear-gradient(top, rgba(0,0,0,.15), transparent);
}
    p.notification.error {
    	background-color: #911;
    }
    p.notification.success {
    	background-color: #757e0e;
    }
    p.notification.notice {
        background-color: #FFC800;
    }
    
fieldset {
    position: relative;
    border: none;
}
    fieldset + fieldset {
        margin-top: 40px;
    }
    legend {
        font-size: 18px;
        font-weight: bold;
        
        color: #284769;
        
        padding-left: 120px;
    }
        legend + em {
            display: block;
            padding: 5px 0 25px 120px;
        }
    
    fieldset p {
        padding-bottom: 20px;
        clear: both;
        overflow: hidden;
    }
        fieldset p em {
            display: block;
            clear: both;
            
            padding-top: 5px;
            padding-left: 120px;
        }
    
    fieldset label {
        display: block;
        float: left;
        
        width: 100px;
        text-align: right;
        
        padding: 6px 0;
        padding-right: 20px;
        
        cursor: pointer;

        font-weight: bold;
        color: #5e6c7b;        
    }
    fieldset input, fieldset textarea {
        display: block;
        float: left;
        
        width: 404px;
        padding: 8px 12px;
        
        border: 1px solid #a8acb1;
        
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 1px 1px #f5f7f8;
        -moz-box-shadow: inset 0 1px 1px #ebeef1, 0 1px 1px #f5f7f8;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 1px 1px #f5f7f8;
        
        font: 13px "Helvetica Neue", sans-serif;
        color: #50575d;
    }
        fieldset .key {
            width: 128px;
            margin-right: -1px;
            
            margin-bottom: 10px;
        }
        fieldset .value {
            width: 250px;
            margin-bottom: 10px;
        }
        fieldset textarea, input[type=url] {
            font: 13px/16px "Anonymous Pro", monospace;
        }
        fieldset textarea {
            line-height: 24px;
        
            resize: vertical;            
            min-height: 150px;
            max-height: 500px;
        }
        fieldset input:focus, fieldset textarea:focus {
            background: #f3f7fc;
            outline: none;
        }
    fieldset select {
        margin-top: 9px;
        min-width: 150px;
    }
        fieldset select + em {
            position: relative;
            top: -8px;
            
            margin-bottom: -8px;
        }
        
        
p.buttons {
    overflow: hidden;
    padding-top: 20px;
    
    border-top: 1px solid #f5f7f8;
}
    p.buttons a {
        float: left;
        line-height: 34px;
    }
    p.buttons button {
        margin-top: 0;
        margin-left: 25px;
    }
   
aside#sidebar {
    float: right;
    width: 200px;
    
    margin-top: 40px;
    padding: 20px;
    
    background: #d6e3f0;
    color: #667a8e;
    
    text-shadow: 0 1px 0 rgba(255,255,255,.3);
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    -webkit-box-shadow: inset 0 -1px 1px rgba(0,0,0,.02), 0 1px 0 #eff6fc;
    -moz-box-shadow: inset 0 -1px 1px rgba(0,0,0,.02), 0 1px 0 #eff6fc;
    box-shadow: inset 0 -1px 1px rgba(0,0,0,.02), 0 1px 0 #eff6fc;
}
    aside#sidebar h2 {
        color: #384f66;
        padding-bottom: 8px;
    }
    aside#sidebar ul {
        margin: 15px 18px -5px;
    }
        aside#sidebar li {
            list-style: square;
            padding-bottom: 5px;
            
            font-size: 12px;
            line-height: 20px;
        }
    aside#sidebar a {
        color: #244f7c;
    }
        aside#sidebar a:hover {
            color: #102e4d;
        }
        
ul#comments {
    position: relative;
    overflow: hidden;
}
    ul#comments li {
        border-top: 1px solid #f2f4f5;
        padding: 20px 0;
        
        overflow: hidden;
    }
        ul#comments li header {
            width: 100px;
            float: left;
        }
            ul#comments li header strong {
                color: #506171;
                display: block;
            }
            ul#comments li header em {
                padding: 10px 0 0;
                
                font-size: 12px;
            }
        ul#comments li p.comment {
            width: 430px;

            float: left;
            clear: none;
            
            padding-left: 20px;
            padding-bottom: 20px;
        }
        ul#comments li ul {
            position: relative;
            left: 20px;
        }
            ul#comments li li {
                border: none;
                overflow: auto;
                float: left;
                
                padding: 0 15px 0 0;
            }

footer#bottom {
    clear: both;
    padding: 20px 0 60px;
    margin-top: 20px;
    
    border-top: 1px solid #dde7f0;    
    
    text-shadow: 0 1px 0 #f7fbff;
}
    footer#bottom a {
        color: #474e56;
    }
        footer#bottom a:hover {
            color: #2d353d;
        }
    footer#bottom small {
        float: left;
        font-size: 13px;
    }
    
    footer#bottom em {
        float: right;
        font-size: 11px;
        
        color: #93a8bd;
    }

.debug {display: none; font-size: 13px; margin-bottom: 1em;}
.debug td, .debug th {padding: 4px 6px; border-bottom: 1px solid #ddd;}
.debug th {font-weight: bold; text-align: center;}
.debug tfoot td:first-child {text-align: right;}