@import 'reset.css';
@import 'transitions.css';

fieldset, img, a {
	border: none;
}
	a {
		color: #3878b2;
	}
	a:hover {
		color: #ca4121;
	}

input, textarea, button, select, body {
	font: 15px/25px Helvetica Neue, sans-serif;
}
	input, textarea {
		padding: 6px 15px;
		margin-bottom: 20px;
		
		color: #484e54;
		width: 100%;
		
		border: none;
		box-shadow: inset 0 0 1px rgba(0,0,0,.8), inset 0 1px 1px rgba(0,0,0,.4);
	}
		input#title {
			font-size: 29px;
			line-height: 28px;
			font-weight: lighter;
		}
		input:focus, textarea:focus {
			background: #edf3f8;
			color: #343d46;
		}
		textarea {
			resize: vertical;
			min-height: 90px;
			max-height: 450px;
		}
		    textarea#css, textarea#js {
		        font-family: Anonymous Pro, monospace;
		        min-height: 200px;
		        margin-bottom: 10px;
		    }
			textarea#post-content {
				min-height: 1px;
				margin: 0 0 4px;
				padding: 20px 25px;
			
				box-shadow: none;
				background: transparent;
				font-size: 17px;
				line-height: 26px;				
			}
	select {
	    -webkit-appearance: none;
	    width: 100%;
	    padding: 4px 12px;
	    border: none;
	    
	    background: #e8eef1 url('../img/dropdown.png') no-repeat 100% 50%;
	    color: #657981;
	    
	    box-shadow: 0 1px 1px rgba(0,0,0,.05);
	}		
	
form p {
    position: relative;
}
    form p em {
        position: absolute;
        right: 0;
        top: 5px;
        
        font-size: 11px;
    }

label {
	display: block;
	cursor: pointer;
	
	padding: 5px 0;
	
	font-weight: bold;
	font-size: 15px;
}

button {
	padding: 9px 18px;
	background: #4e7fac;
	border: none;

	font-weight: bold;
	color: #fff;
	
	cursor: pointer;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
	button:hover {
		background: #bd4529;
	}
	button:active, button:focus {
		-webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,.3);
		-moz-box-shadow: inset 0 2px 2px rgba(0,0,0,.3);
		box-shadow: inset 0 2px 2px rgba(0,0,0,.3);
	}
.buttons {
	overflow: hidden;
	margin: 10px -25px -20px;
	padding: 20px 25px;
	
	background: #f6f8fa;
	
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
}
	.buttons button {
		float: right;
	}
	.buttons a {
		display: block;
		float: left;
		
		font-size: 13px;
		line-height: 43px;
	}

body {
	color: #616d78;
	background: #e9edf0;
	
	/* This is for the expand-y top bar */
	padding-top: 50px;
}

#top {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: 10;
	
	line-height: 50px;
	min-height: 50px;
	background: #37434e;
	
	text-shadow: 0 1px 1px rgba(0,0,0,.25);
	
	-webkit-box-shadow: inset 0 -2px 3px rgba(0,0,0,.15), 0 1px 1px rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 -2px 3px rgba(0,0,0,.15), 0 1px 1px rgba(0,0,0,.1);
	box-shadow: inset 0 -2px 3px rgba(0,0,0,.15), 0 1px 1px rgba(0,0,0,.1);
}
	#top #logo {
		margin: 0 14px;
	}
		#top nav #logo {
			margin: 0;
		}
	#top #logo img {
		opacity: .5;
		margin: 0 6px;
		position: relative;
		top: 5px;
	}
		#top #logo:hover img {
			opacity: 1;
		}
	#top nav, #top nav li {
		float: left;
	}
		#top nav li {
			display: inline-block;
		}
		#top nav li a {
			display: block;
			padding: 0 15px;
			
			color: #8c9eb3;
			font-size: 13px;
			font-weight: bold;
			text-decoration: none;
		}
			#top a:hover {
				background: #414d59;
				color: #b2c6de;
			}
			#top nav li.active a {
				color: #fff;
			}
	#top .status-check {
		float: right;
		position: relative;
	}
		#top .status-check img {
			display: block;
			margin: 17px 0;
		}
		#top .status-check ul {
			position: absolute;
			top: 50px;
			right: 0;
			width: 330px;
			
			list-style: square;
			background: #414d59;
			color: #b7c5d3;
			
			font-size: 13px;
			line-height: 21px;
			
			padding: 15px 30px 10px;
			
			opacity: 0;
			pointer-events: none;
		}
			#top .status-check a:hover + ul, #top .status-check ul:hover {
				opacity: 1;
				pointer-events: all;
			}
		#top .status-check li {
			padding-bottom: 8px;
		}
		#top .status-check li a {
			color: #e7eef6;
			text-decoration: underline;
			float: none;
			display: inline;
			padding: 0;
		}
			#top .status-check li a:hover {
				color: #fff;
			}
	
	#top .logout, #top .status-check a {
		display: block;
		float: right;
		
		padding: 0 20px;
		
		font-size: 13px;
		text-decoration: none;
		color: #616e7c;
	}
		#top .logout:hover {
			color: #8595a4;
		}
		
.content {
	margin: 0 auto;
	padding: 20px 25px;
	width: 95%;
	max-width: 1600px;
	
	background: #fff;
	
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.25);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.25);
	box-shadow: 0 1px 2px rgba(0,0,0,.25);
}
	.content, .buttons {
		-webkit-border-radius: 0 0 3px 3px;
		-moz-border-radius: 0 0 3px 3px;
		border-radius: 0 0 3px 3px;
	}
	.login.content {
		max-width: 450px;
	}
	.content h1, .content header {
		font-size: 29px;
		line-height: 40px;
		font-weight: 300;
		
		padding: 20px 25px;
		margin: -20px -25px 15px;
		
		box-shadow: 0 1px 1px #f2f5f8;
		border-bottom: 1px solid #dfe5ea;
	}
		.content header {
			padding: 0;
			height: 66px; /* Can't do overflow: hidden because of the active tab thingy */
		}
		.content header input {
			float: left;
			width: 70%;
			height: 65px;
			margin: 0;
			padding: 0 25px;
			
			background: #fff;
			
			box-shadow: none;
		}
		.content header nav {
			position: relative;
			z-index: 1;
		
			float: right;
			width: 30%;
		}
			.content header nav li {
				position: relative;
				float: left;
				
				width: 33.35%;
				list-style: none;
			}
			.content header nav li a {
				display: block;

				font-size: 15px;
				line-height: 65px;
				font-weight: 500;
				text-align: center;
				text-decoration: none;

				background: #f6f8fa;
			}
				.content header nav li.active a {
					background: #f1f4f7;
				}
				.content header nav li.active a:after {
					content: '';
					position: absolute;
					left: 50%;
					bottom: -3px;
					
					display: block;
					width: 20px;
					height: 10px;
					margin-left: -10px;
					
					background: url('../img/active.png');
				}
	.content em {
		font-family: Caecilia, Georgia, serif;
		font-size: 13px;
		color: #788795;
	}
	.content p {
		padding-bottom: 15px;
	}

.tabs {
	overflow: hidden;
	margin: -20px -25px;
}
	.tabs .carousel {
	    position: relative;
		width: 300%;
		overflow: hidden;
	}
	.tabs fieldset {
		float: left;
		width: 33.33%;
		height: 100%;
		overflow: scroll;
	}
		.tabs #content p {
			padding-bottom: 0;
		}
		
.side {
    float: left;
    width: 50%;
    padding: 30px 3%;
}
	
#bottom {
	overflow: hidden;
	margin: 20px;
	
	color: #98a8b7;
	font-size: 13px;
}
	.login + #bottom {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
	}
	#bottom small {
		font-size: 13px;
		float: left;
	}
	#bottom em {
		font-style: normal;
		float: right;
	}
	#bottom a {
		color: #627587;
	}
		#bottom a:hover {
			color: #445463;
		}