
.popup_overlay {
	background: #173553;
	
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1000;

	opacity: .6;
	filter: alpha(opacity=60);
}

.popup_box {
	background: #fff;
	position: absolute;
	z-index: 1001;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.3);
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.popup_wrapper {
	padding: 20px;
}