a {
	-webkit-transition: color .25s;
	-moz-transition: color .25s;
	-ms-transition: color .25s;
	-o-transition: color .25s;
	transition: color .25s;
}

button, input, textarea {
	-webkit-transition: background .25s;
	-moz-transition: background .25s;
	-ms-transition: background .25s;
	-o-transition: background .25s;
	transition: background .25s;
}

#logo img, #top .status-check ul {
	-webkit-transition: opacity .25s;
	-moz-transition: opacity .25s;
	-ms-transition: opacity .25s;
	-o-transition: opacity .25s;
	transition: opacity .25s;
}

#top a {
	-webkit-transition: background .25s, color .25s;
	-moz-transition: background .25s, color .25s;
	-ms-transition: background .25s, color .25s;
	-o-transition: background .25s, color .25s;
	transition: background .25s, color .25s;
}

div.tabs .carousel {
	-webkit-transition: left .5s cubic-bezier(0,1.2,.6,1);
	-moz-transition: left .5s ease-in-out;
	-ms-transition: left .5s ease-in-out;
	-o-transition: left .5s ease-in-out;
}