body {
	color: #888;
	font: 16px/26px Merriweather, Georgia, serif;	
}

a {
	text-decoration: none;
}
	dd a, p a, li a {
		padding-bottom: 1px;
			
		color: #333;
		border-bottom: 1px solid #eee;
	}
		dd a:hover, p a:hover, li a:hover {
			color: #48d;
			border-bottom-color: #cef;
		}
		
h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	color: #333;
}
	h1 {
		font-size: 40px;
		line-height: 48px;
	}
	h2 {
		font-size: 32px;
		line-height: 44px;
	}
	h3 {
		font-size: 28px;
		line-height: 36px;
	}
	h4 {
		font-size: 24px;
		line-height: 32px;
	}
	h5 {
		font-size: 22px;
		line-height: 30px;
	}
	h6 {
		font-size: 18px;
		line-height: 28px;
	}

	
progress {
	-webkit-appearance: none;
	appearance: none;
	
	width: 100%;
	height: 4px;
}
	progress::-webkit-progress-value {
		background: #48d;
	}
	progress::-webkit-progress-bar {
		background: #eee;
	}
	
blockquote {
	position: relative;
	padding: 20px 40px 20px 64px;
	margin-bottom: 20px;
	
	font-size: 21px;
	line-height: 34px;
	font-weight: 300;
	font-style: italic;
	
	color: #48d;
}
	blockquote:before {
		content: '“';
		position: absolute;
		left: 0;
		top: 5px;
		
		font: 104px Georgia, serif;
	}

.wrap {
	width: 1000px;
	margin: 0 auto;
	
	text-align: left;
}

.logo {
	font: 22px/30px "Permanent Marker", cursive;
}

#page-top {
	position: relative;
	padding: 60px 0;
	
	background: #333;
	background: linear-gradient(90deg, #202020, #383838);
}
	#page-top nav {
		position: relative;
	}
		#page-top nav a {
			display: inline-block;
			padding: 4px 0;
			margin-right: 30px;
			
			font-size: 13px;
			
			color: #aaa;
		}
			#page-top nav a:hover {
				color: #fff;
			}
	#page-top .logo {
		color: #fff;
	}
	#page-top progress {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		
		opacity: 0;
	}
		#page-top.shrunk progress {
			opacity: 1;
			bottom: -4px;
		}
	
.post {
	position: relative;
	margin-top: 80px;
}
	.post-title {
		position: relative;
		min-height: 150px;
		padding-left: 235px;
	}
		.post-title img {
			position: absolute;
			left: 0;
			top: 0;
			
			width: 150px;
			height: 150px;
			
			border-radius: 75px;
		}
		.post-title h1, .post-title h2 {
			letter-spacing: -1px;
		}
			.post-title h1 {
				font-size: 40px;
				line-height: 50px;
			}
			.post-title h2 {
				padding-top: 15px;
				
				font-size: 28px;
				line-height: 38px;
				
				color: #888;
			}
	.post-meta {
		float: left;
		width: 150px;
	}
		.post-meta dl {
			padding-top: 50px;
		}
			.post-meta dt {
				font: 500 9px "Helvetica Neue", sans-serif;
				text-transform: uppercase;
				letter-spacing: 1px;
				
				color: #bbb;
			}
			.post-meta dd {
				padding: 3px 0 25px;
				color: #555;
			}
	.post-content {
		float: right;
		width: 765px;
		padding-top: 50px;
	}
		.post-content h1, .post-content h2, .post-content h3,
		.post-content h4, .post-content h5, .post-content h6 {
			padding: 10px 0 20px;
		}
		.post-content p, .post-content ul, .post-content ol {
			padding-bottom: 20px;
		}
			.post-content li {
				list-style: inherit;
				margin: 0 0 5px 40px;
			}