::selection {
	background: #99a6ac;
	color: #fff;

	text-shadow: 0 1px 1px rgba(0,0,0,.2);
}

* {
	margin: 0;
	padding: 0;

	-webkit-font-smoothing: antialiased;
}

html {
	background-color: #abc0ca;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#bdced5), to(#99b2bf));
	background-image: -webkit-linear-gradient(top, #bdced5, #99b2bf);
	background-image: -moz-linear-gradient(top, #bdced5, #99b2bf);
	background-image: -o-linear-gradient(top, #bdced5, #99b2bf);
	background-image: -ms-linear-gradient(top, #bdced5, #99b2bf);
	background-image: linear-gradient(top, #bdced5, #99b2bf);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#bdced5', EndColorStr='#99b2bf');

	background-attachment: fixed;

	/* Make the page's gradient stretch all da way */
	height: 100%;
}

body {
	font: 15px/25px "Helvetica Neue", sans-serif;
	color: #788b93;

	padding: 90px 0;
}

h1 {
	font-weight: 300;
	font-size: 29px;

	color: #49585f;

	padding: 10px 0 20px;
}

em {
	font: italic .85em/1.6 Georgia, serif;
}

p {
	padding-bottom: 15px;
}
	p a {
		color: #2f83a6;
		text-decoration: none;

		border-bottom: 1px solid #b7d6e5;
	}
		p a:hover {
			color: #236e8d;
			border-bottom: 1px solid #95c4db;
		}

.notifications .error {
	padding: 10px 16px 10px 50px;
	margin-bottom: 25px;

	background: #f4f0db url('../img/error.png') no-repeat 15px 12px;
	border: 1px solid #d7d4bf;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);

	font: 12px/21px "Helvetica Neue", sans-serif;
	color: #716e5e;
	text-shadow: 0 1px 0 rgba(255,255,255,.25);
}

small {
	display: block;
	font-size: 12px;
	line-height: 18px;
}

label[for] {
	cursor: pointer;
}

fieldset {
	position: relative;
	border: none;

	margin: 20px 0;
}
	fieldset p {
		overflow: hidden;
	}
	fieldset label {
		width: 155px;
		float: left;

		color: #415a64;
		font-size: 13px;
		line-height: 16px;
	}
		fieldset label span {
			color: #788a92;
			font-size: 11px;

			display: block;
		}
input, textarea {
	font: 13px "Helvetica Neue", sans-serif;
	color: #6e818c;

	border: 1px solid #b0bdc4;

	padding: 9px 15px;

	width: 362px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-webkit-box-shadow: inset 0 1px 1px #e6ebee;
	-moz-box-shadow: inset 0 1px 1px #e6ebee;
	box-shadow: inset 0 1px 1px #e6ebee;
}
	textarea {
		min-height: 90px;
		max-height: 400px;

		resize: vertical;
	}
	input:focus, textarea:focus {
		color: #4c616b;
		background: #f7fbfd;

		border: 1px solid #93a0a7;
		outline: none;
	}

select {
	min-width: 150px;
}

button, .button {
	width: 102px;
	height: 37px;

	display: block;
	text-align: center;

	border: none;

	background: url('../img/button.png');
	cursor: pointer;

	color: #fff;
	text-shadow: 0 -1px 1px rgba(0,0,0,.3);
	font: bold 13px/35px "Helvetica Neue", sans-serif;
}
	button:hover, .button:hover { background-position: 0 -37px; color: #fff; border: none; }
	button:active, .button:active { background-position: 0 -74px; text-shadow: 0 1px 1px rgba(0,0,0,.2); }

section.options {
	background: #f8fbfc;
	border-top: 1px solid #d0e0e5;

	padding: 25px 50px;
	margin: 20px -50px -30px;

	-webkit-border-radius: 0 0 5px 0;
	-moz-border-radius: 0 0 5px 0;
	border-radius: 0 0 5px 0;
}

section.content {
	background: #fff;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.3);
	box-shadow: 0 1px 2px rgba(0,0,0,.3);

	position: relative;
	width: 550px;
	min-height: 300px;

	padding: 35px 50px 30px 300px;
	margin: 0 auto;

	-webkit-box-reflect: below -1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.9, transparent), to(rgba(255,255,255,.3)));
}
	section.content.small ul {
		margin: 5px 20px 30px;
	}
		section.content.small ul li {
			line-height: 18px;
		}
		section.content ul li strong {
			color: #47626f;
		}
			section.content ul li em {
				color: #8c9fa8;
			}
	section.content.small {
		padding: 35px 50px 35px 100px;
		min-height: 1px;

		background: #fff url('../img/logo.png') no-repeat 40px 48px;
	}
	section.content nav {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;

		width: 250px;

		background: #eef2f4;
		border-right: 1px solid #b8cad3;

		-webkit-box-shadow: inset -5px 0 20px #e5eaed;
		-moz-box-shadow: inset -5px 0 20px #e5eaed;
		box-shadow: inset -5px 0 20px #e5eaed;

		-webkit-border-radius: 5px 0 0 5px;
		-moz-border-radius: 5px 0 0 5px;
		border-radius: 5px 0 0 5px;

		text-shadow: 0 1px 0 rgba(255,255,255,.25);
	}
		section.content nav ul {
			list-style: none;
		}
			section.content nav li {
				background-color: #ecf1f3;
				background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f5f7), to(#e7edf0));
				background-image: -webkit-linear-gradient(top, #f2f5f7, #e7edf0);
				background-image: -moz-linear-gradient(top, #f2f5f7, #e7edf0);
				background-image: -o-linear-gradient(top, #f2f5f7, #e7edf0);
				background-image: -ms-linear-gradient(top, #f2f5f7, #e7edf0);
				background-image: linear-gradient(top, #f2f5f7, #e7edf0);
				filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f2f5f7', EndColorStr='#e7edf0');

				border-top: 1px solid #f4f7f8;
				border-bottom: 1px solid #d4dde2;

				color: #889aa3;
				font-size: 13px;
				line-height: 39px;

				padding-left: 20px;

				position: relative;
			}
				section.content nav li.selected {
					border-top: 1px solid #b9c8cf;
					border-bottom: 1px solid #aebdc4;

					margin-top: -1px;

					color: #3c6174;
					font-weight: bold;

					background-color: #e9f1f4;
					background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f8fa), to(#deeaef));
					background-image: -webkit-linear-gradient(top, #f4f8fa, #deeaef);
					background-image: -moz-linear-gradient(top, #f4f8fa, #deeaef);
					background-image: -o-linear-gradient(top, #f4f8fa, #deeaef);
					background-image: -ms-linear-gradient(top, #f4f8fa, #deeaef);
					background-image: linear-gradient(top, #f4f8fa, #deeaef);
					filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f4f8fa', EndColorStr='#deeaef');

					box-shadow: inset 0 1px 0 rgba(255,255,255,.25), inset 0 -1px 1px rgba(0,0,0,.02);
				}
					section.content nav li.selected:after {
						content: '';
						position: absolute;
						top: -1px;
						right: -14px;

						width: 14px;
						height: 41px;

						background: url('../img/pointer.png');
					}
				section.content nav li i {
					display: inline-block;
					width: 16px;
					height: 17px;

					background: url('../img/icons.png');

					margin: 0 12px -4px 0;
				}
					section.content nav li i.icon-spanner { background-position: 0 0; }
						section.content nav li.selected i.icon-spanner { background-position: -16px 0; }
					section.content nav li i.icon-pencil { background-position: 0 -17px; }
						section.content nav li.selected i.icon-pencil { background-position: -16px -17px; }
					section.content nav li i.icon-user { background-position: 0 -33px; }
						section.content nav li.selected i.icon-user { background-position: -16px -33px; }
		section.content nav p {
			font-size: 11px;
			color: #95adb9;

			position: absolute;
			left: 20px;
			bottom: 10px;

			padding: 0;
		}
	section.content div.logo {
		background-color: #dce6ea;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#e7eef0), to(#d2dfe4));
		background-image: -webkit-linear-gradient(top, #e7eef0, #d2dfe4);
		background-image: -moz-linear-gradient(top, #e7eef0, #d2dfe4);
		background-image: -o-linear-gradient(top, #e7eef0, #d2dfe4);
		background-image: -ms-linear-gradient(top, #e7eef0, #d2dfe4);
		background-image: linear-gradient(top, #e7eef0, #d2dfe4);
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#e7eef0', EndColorStr='#d2dfe4');

		height: 23px;
		padding: 18px 20px;

		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), inset 0 -1px 1px rgba(0,0,0,.05);
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), inset 0 -1px 1px rgba(0,0,0,.05);
		box-shadow: inset 0 1px 0 rgba(255,255,255,.2), inset 0 -1px 1px rgba(0,0,0,.05);

		-webkit-border-radius: 5px 0 0 0;
		-moz-border-radius: 5px 0 0 0;
		border-radius: 5px 0 0 0;

		pointer-events: none;
	}

p.options {
	margin: 20px 0 30px;
}
	p.options a {
		float: right;
	}
	p.options a.button {
		float: left;
	}