
.popup_overlay {
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0.6;
	z-index: 1000;
}

.popup_box {
	background: #fff;
	position: absolute;
	z-index: 1001;
}

.popup_wrapper {
	padding: 20px;
}

