/**
 *    Anchor CMS' default theme
 */
 
html {
    min-height: 100%;
}

body, input, textarea {
	color: #777;
	font: 16px/26px "Helvetica Neue", sans-serif;
}

h1 {
    font-size: 40px;
    line-height: 48px;
    font-weight: bold;
    
    color: #333;

    margin-bottom: 30px;
}

a, a * {
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    -ms-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
}
    a:active {
        -webkit-transform: translateY(1px);
    }

.wrap, .content {
	width: 900px;
	margin: 0 auto;
	
	text-align: left;
}
    .content {        
        width: 730px;
        margin: 60px auto 80px;
    
        padding-left: 170px;
    }
        .content img, .content .items {
            margin-left: -170px;
            
            width: 900px;
            height: auto;
        }
        .content p {
            padding-bottom: 15px;
        }

form#search {
	position: relative;
	background: #ddd;
	
	padding: 10px 0;
}
	form#search input {
		padding: 8px 12px;
		color: #333;
		
		border: none;
		width: 900px;
	}

header#top {
	background: #333;
	padding: 50px 0 20px;
}
	header#top div {
		position: relative;
	}
	header#top a#logo {
		color: #f6f6f6;
		font-size: 18px;
		line-height: 21px;
		
		text-decoration: none;
		
		display: block;
		width: 130px;
		
		padding-bottom: 4px;
	}
	    header#top a#logo:hover, header#top nav li.active a, header#top nav li.active a:hover {
	        color: #94d0ea;
	    }
	header#top nav {
		position: absolute;
		left: 170px;
		bottom: 0;
	}
		header#top nav li {
			float: left;
			position: relative;
			
			margin-right: 50px;
		}
		    header#top nav li.active:after {
		        content: '';
		        display: block;

		        position: absolute;
		        left: 50%;
		        bottom: -20px;
		        
		        width: 0;
		        height: 0;
		        
		        border-left: 8px solid transparent;
		        border-right: 8px solid transparent;
		        border-bottom: 8px solid #fff;
		        
		        margin-left: -8px;
		    }
		header#top nav li a {
			color: #bbb;
			
			font-weight: bold;
			font-size: 14px;
			
			text-decoration: none;
			
			display: block;
		}
		    header#top nav li a:hover {
		        color: #eee;
		    }
	header#top img#search {
		cursor: pointer;
		
		position: absolute;
		right: 0;
		bottom: 0;
	}
	
ul.items {
    list-style: none;
    
    padding: 60px 0 80px;
}
    ul.items li {
        clear: both;
        overflow: hidden;
        
        padding-bottom: 20px;
    }
    ul.items li a {
        display: block;
        text-decoration: none;
    }
        ul.items li a time {
            display: block;
            float: left;
            
            color: #aaa;
            font-size: 13px;
            line-height: 34px;
            
            width: 130px;
            padding-right: 40px;
            text-align: right;
        }
            ul.items li a:hover time {
                color: #7ac1df;
            }
        ul.items li a h2 {
            font-size: 28px;
            line-height: 30px;
            
            color: #555;
            
            display: block;
            float: left;
            
            width: 730px;
        }
            ul.items li a:hover h2 {
                color: #2082ab;
            }
            
section.footnote {
    width: 730px;
    margin: 0 auto 60px;
    text-align: left;

    font: italic 12px/19px Georgia, serif;
    color: #aaa;
    
    padding-left: 170px;
}
            
footer#bottom {
    width: 130px;
    height: 80px;
    
    border-top: 1px solid #f5f5f5;
    padding-top: 20px;
    
    text-align: left;
    position: relative;
}
    footer#bottom small {
        width: 730px;
        display: block;
        float: left;
        
        font-size: 13px;
        color: #999;
    }
        footer#bottom small a {
            color: #666;
        }
        footer#bottom small a:hover {
            color: #333;
        }
    footer#bottom ul {
        clear: both;
        list-style: none;
        
        position: relative;
        top: -8px;
        
        width: 730px;
    }
        footer#bottom ul li {
            display: inline-block;
            float: left;
        }
        footer#bottom ul a {
            color: #aaa;
            font-size: 11px;
            line-height: 11px;
            
            padding-right: 15px;
        }
            footer#bottom ul a:hover {
                color: #777;
            }
    footer#bottom a#attribution {
        display: block;
        
        position: absolute;
        left: 876px;
        top: 18px;
        
        width: 24px;
        height: 22px;
        
        background: url('../img/attribution.gif');
        text-indent: -999em;
    
        opacity: .5;
        
        -webkit-transition: opacity .25s;
        -moz-transition: opacity .25s;
        -ms-transition: opacity .25s;
        -o-transition: opacity .25s;
        transition: opacity .25s;
    }
        footer#bottom a#attribution:hover {
            opacity: 1;
        }
    
@media only screen and (max-width: 900px) {

    .wrap, .content {
        width: 90%;
        margin: 0 5%;
        padding-left: 0;
    }
        .content h1 {
            padding-top: 50px;
        }
    
    form#search {
        padding: 10px 5%;
    }
        form#search input {
            width: 100%;
        }

    header#top {
        overflow: hidden;
        padding-top: 40px;
    }
        header#top a#logo {
            width: 100%;
            padding-bottom: 15px;
        }
        header#top nav {
            position: static;
        }
            header#top nav li {
                margin-right: 30px;
            }
        header#top img#search {
            bottom: -20px;
        }
        
    ul.items {
        padding-bottom: 20px;
    }
        ul.items li a {
            overflow: hidden;
            padding-bottom: 20px;
        }
            ul.items li a time, ul.items li a h2 {
                float: none;
                clear: both;
                
                width: 100%;
            }
            ul.items li a time {
                line-height: 22px;
                text-align: left;
            }
            
    section.footnote {
        width: 90%;

        margin: 30px 5%;
        padding: 0;
    }
            
    footer#bottom, footer#bottom small, footer#bottom ul {
        width: 100%;
    }
        footer#bottom a#attribution {
            left: auto;
            right: 0;
            
            top: 30px;
        }
}