* { margin: 0; padding: 0; -webkit-font-smoothing: antialiased; }

html, body { min-height: 100%; }
body { text-align: center; }

.wrap { width: 960px; margin: 0 auto; text-align: left; }

img { border: none; -ms-interpolation-mode: bicubic; image-rendering: optimizeQuality; display: block; }

table { border-collapse: separate; border-spacing: 0; vertical-align: top; }
caption, th, td { text-align: left; font-weight: normal; vertical-align: top; }

fieldset, button { border: none; }
textarea { resize: vertical; }
label[for] { font-weight: bold; cursor: pointer; }
button { cursor: pointer; }

input { -webkit-border-radius: 0; }
	input[type=search], input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button, ::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration  { -webkit-appearance: none !important; margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
	nav ul { list-style: none; }

.hide { text-indent: -999em; }
	.block.hide, nav#skip-links { position: absolute; left: -999em; top: -999em; }
	
.radius { -webkit-border-radius: 5px; border-radius: 5px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; }

.clear { zoom: 1; overflow: auto; clear: both; }
	.clear:before, .clear:after { content: ''; display: table; }
	.group:after { clear: both; }
	
.ghost, .disabled, [disabled] { opacity: .5; filter: alpha(opacity=50); }
	.ghost.super { opacity: .2; filter: alpha(opacity=20); }
	.ghost.sub { opacity: .8; filter: alpha(opacity=80); }
	
.align { margin: 0 auto; }
	.align.text { text-align: center; }
	.align.vertical { vertical-align: center; position: absolute; left: 50%; top: 50%; }
	
dl { position: relative; }
    dt { font-weight: bold; }
    dd { opacity: .7; }

.float { float: inherit; }
	.float.left { float: left; }
	.float.right { float: right; }