/**
 *    Anchor CMS' default theme
 */
 
html {
    min-height: 100%;
}

body, input, textarea {
	color: #777;
	font: 16px/26px "Helvetica Neue", sans-serif;
}

.wrap {
	width: 900px;
	margin: 0 auto;
	
	text-align: left;
}

form#search {
	position: relative;
	background: #ddd;
	
	padding: 10px 0;
}
	form#search input {
		padding: 8px 12px;
		color: #333;
		
		border: none;
		width: 900px;
	}

header#top {
	background: #f3f3f3;
	padding: 50px 0 20px;
}
	header#top div {
		position: relative;
	}
	header#top a#logo {
		color: #444;
		font-size: 18px;
		line-height: 30px;
		
		text-decoration: none;
		
		display: block;
		width: 130px;
	}
	header#top nav {
		position: absolute;
		left: 170px;
		bottom: 0;
	}
		header#top nav li {
			float: left;
		}
		header#top nav li a {
			color: #888;
			
			font-weight: bold;
			font-size: 14px;
			
			text-decoration: none;
			
			display: block;
			padding-right: 50px;
		}