body{
	font: 15px/25px sans-serif;
	margin: 2em;
}

.exception, .trace, .context {
	border-radius: 3px;
	overflow: hidden;
}

.exception {
	background: #2f2f2f;
	color: #8ac6f2;
	margin-bottom: 2em;
	padding: 1em;
	word-wrap: break-word;
}

	.exception .message {
		font-size: 16px;
	}

	.exception .info {
		color: #ddd;
	}

.context {
	margin-bottom: 1em;
	border-radius: 3px;
}

	.context .snippet {
		background: #2f2f2f;
		color: #f6f3e8;
	}

		.context .snippet pre:nth-child(odd) {
			background: #2a2a2a;
		}

		.context .snippet pre {
			margin: 0;
			padding: 2px 6px;
			display: block;
		}

		.context .snippet pre.highlight {
			background: #222222;
		}

		.context .snippet .string {
			color: #D1E751;
		}

		.context .snippet .keyword {
			color: #fc7883;
		}

		.context .snippet .brace {
			color: #8ac6f2;
		}

		.context .snippet .num {
			font-size: 14px;
		}

	.context .source {
		padding: 4px 12px;
		background: #F5F5F5;
		color: #2a2a2a;
		font-size: 14px;
	}

	.context.trigger .source {
		background: #ccc;
	}