
<h2>How are you going to log in?</h2>

{{& form.open }}

{{& messages }}

{{# form }}
<p>
	{{# hasLabel }}<label for="{{ getName }}">{{ getLabel }}</label>{{/ hasLabel }}
	{{& getHtml }}
</p>
{{/ form }}

{{& form.close }}
