/*****************************************************************
 *
 *		Anchor CMS - Admin Panel
 *		by @visualidiot
 *		
 *****************************************************************
 *
 *		The styles for installing/editing Anchor.
 *		
 */

* { margin: 0; padding: 0; -webkit-font-smoothing: antialiased; }

body { background: #e7ecef; font: 11px/22px "Helvetica Neue", sans-serif; color: #778491; width: 900px; margin: 100px auto; }

h1 { line-height: 50px; border-bottom: 1px solid #e8f0f5; background: #fff; padding-left: 25px; font-size: 11px; font-weight: bold; text-transform: uppercase; color: #405664; }
	h1 a { float: right; padding-right: 25px; text-decoration: none; color: #477a99; }
		h1 a:hover { color: #164a6a; }

div#header { height: 57px; background: #487a98 url(../core/img/header.jpg); line-height: 57px; padding-left: 80px; position: relative; }
	div#header h2 { color: #fff; font-size: 13px; font-weight: bold; text-shadow: 0 -1px 0 rgba(0,0,0,.3); }
	div#header a#logout { background: rgba(11,41,61,.5) url(../core/img/power.png) no-repeat 61px 46%; display: block; width: 55px; position: absolute; right: 15px; top: 15px; line-height: 22px; padding: 3px 15px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,.2); text-decoration: none; border-top: 1px solid #26465a; -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.1); -webkit-transition: opacity .2s; -moz-transition: opacity .2s; transition: opacity .2s; opacity: .6; }
		div#header a#logout:hover { opacity: 1; }
		div#header a#logout:active { margin-top: 1px; }
	
ul#nav { border: 1px solid #87abc4; border-top: none; background-color: #cde2f0; background-image: -moz-linear-gradient(top, #d4e6f2, #c1daec); background-image: -ms-linear-gradient(top, #d4e6f2, #c1daec); background-image: -o-linear-gradient(top, #d4e6f2, #c1daec); background-image: -webkit-gradient(linear, left top, left bottom, from(#d4e6f2), to(#c1daec)); background-image: -webkit-linear-gradient(top, #d4e6f2, #c1daec); background-image: linear-gradient(top, #d4e6f2, #c1daec); filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#d4e6f2', EndColorStr='#c1daec'); height: 40px; -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2); }
	ul#nav a { -webkit-transition: opacity .2s, background .2s, color .2s; -moz-transition: opacity .2s, background .2s, color .2s; transition: background .2s, color .2s, opacity .2s; }
	ul#nav li { float: left; display: block; border-right: 1px solid rgba(130,160,180,.4); }
		ul#nav li a { padding: 0 20px; display: block; float: left; border-right: 1px solid rgba(255,255,255,.2); line-height: 40px; height: 40px; font-weight: bold; text-decoration: none; color: #3a4c59; }
			ul#nav li a:hover { background: rgba(255,255,255,.2); }
			ul#nav li.active a { background: #fff; height: 41px; }
	ul#nav a.visit { float: right; display: block; background: #fff; padding: 1px 12px; color: #587a91; -webkit-box-shadow: 0 -1px 0 rgba(33,77,108,.2); -moz-box-shadow: 0 -1px 0 rgba(33,77,108,.2); box-shadow: 0 -1px 0 rgba(33,77,108,.2); margin-right: 15px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; text-decoration: none; margin-top: 8px; opacity: .7; }
		ul#nav a.visit:hover { opacity: 1; }

div#content { background: #fff; border: 1px solid #b4bbc0; border-top: none; -webkit-box-shadow: 0 1px 0 #eef2f4; -moz-box-shadow: 0 1px 0 #eef2f4; box-shadow: 0 1px 0 #eef2f4; overflow: auto; position: relative; }
	div#left { float: left; width: 648px; min-height: 250px; }
		div#left form { position: relative; padding-top: 30px; }
			div#left form p { position: relative; margin-bottom: 20px; overflow: auto; }
			div#left form h3 { font-weight: lighter; font-size: 20px; color: #1e3a4b; padding-left: 230px; padding-bottom: 22px; }
			div#left form label { float: left; width: 190px; padding-right: 40px; font-weight: bold; font-size: 12px; text-align: right; color: #557386; cursor: pointer; line-height: 27px; }
			div#left form input, div#left form textarea { border: 1px solid #acbeca; -webkit-box-shadow: inset 0 1px 0 #f1f5f7; font-family: "Helvetica Neue", sans-serif; font-size: 13px; padding: 6px 10px; width: 350px; color: #557386; }
				div#left form input:focus, div#left form textarea:focus { background: #f8fbfc; outline: none; }
				div#left form input::-webkit-input-placeholder { color: #acbeca; }
			div#left form input[type=submit] { background: #31698c; border: 1px solid #17425c; -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2); width: auto; float: right; padding: 7px 15px; border-radius: 5px; color: #fff; font-weight: bold; text-shadow: 0 -1px 0 rgba(0,0,0,.3); font-size: 11px; margin-right: 47px; margin-bottom: 30px; margin-top: 12px; cursor: pointer; }
				div#left form input[type=submit]:active { margin-top: 13px; margin-bottom: 29px; }
			div#left form a.delete { opacity: 0.7; display: block; margin-left: 230px; padding-left: 25px; background: url(../core/img/delete.gif) no-repeat 0 50%; text-decoration: none; color: #d67575; float: left; margin-top: 15px; -webkit-transition: opacity .2s; -moz-transition: opacity .2s; transition: opacity .2s; }
				div#left form a.delete:hover { opacity: 1; }
			div#left form input[type=checkbox] { margin-top: 8px; }
			div#left form textarea { min-height: 100px; max-height: 600px; resize: vertical; line-height: 24px; }
			div#left form input.monospace, div#left form textarea.monospace { font-family: "Courier New", monospace; }
	div#right { position: absolute; right: 0; top: 0; bottom: 0; width: 249px; border-left: 1px solid #dbe6ed; background: #f8fbfd; }
		div#right p { width: 199px; padding: 5px 25px; }
		div#right p.result { text-align: center; padding: 40px 25px 25px; }

select, option { width: 373px; }

ul#list { position: relative; }
	ul#list * { -webkit-transition: .2s opacity, .2s right; -moz-transition: .2s opacity, .2s right; transition: .2s opacity, .2s right; }
	ul#list li { display: block; clear: both; }
	ul#list li a { display: block; padding: 8px 25px; position: relative; border-bottom: 1px solid #c6ddea; border-top: 1px solid #f2f8fb; background-color: #e9f3f9; background-image: -moz-linear-gradient(top, #edf5f9, #e4eff7); background-image: -ms-linear-gradient(top, #edf5f9, #e4eff7); background-image: -o-linear-gradient(top, #edf5f9, #e4eff7); background-image: -webkit-gradient(linear, left top, left bottom, from(#edf5f9), to(#e4eff7)); background-image: -webkit-linear-gradient(top, #edf5f9, #e4eff7); background-image: linear-gradient(top, #edf5f9, #e4eff7); filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#edf5f9', EndColorStr='#e4eff7'); color: #788a96; text-decoration: none; font-weight: bold; font-size: 13px; opacity: .7; text-shadow: 0 1px 0 rgba(255,255,255,.5); }
		ul#list li a:hover { opacity: 1; }
		ul#list li a span { color: #7ca1bf; right: 25px; font-size: 11px; font-weight: lighter; opacity: 0.3; position: absolute; }
			ul#list li a:hover span { right: 80px; opacity: .5; }
		ul#list li img { position: absolute; right: 0; margin-top: 6px; opacity: 0; }
			ul#list li a:hover img { right: 25px; opacity: 1; }
	
p#error { line-height: 30px; padding-left: 25px; border-bottom: 1px solid #dbe6ed; background: #f8fbfd; }