@import '//fonts.googleapis.com/css?family=Cousine:400,700|Alegreya:400italic,700italic,400,700|Karla:400,400italic,700,700italic';
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-font-smoothing: antialiased;
}
body,
input,
button,
textarea {
  font: 16px/24px Karla, sans-serif;
}
body {
  background: #fff;
  color: #717178;
}
body.not_found {
  background: #f8f6f1;
}
h1,
h2,
h3,
h4 {
  margin-bottom: .75em;
  font-family: Alegreya, serif;
  font-weight: normal;
}
h1 {
  font-size: 48px;
  line-height: 56px;
}
a {
  color: #36a4e3;
  text-decoration: none;
}
a:hover {
  color: #166c9d;
}
.wrap {
  width: 820px;
  margin: 0 auto;
}
header {
  position: absolute;
  left: 40px;
  right: 40px;
  top: 40px;
}
header .logo,
header nav li {
  float: left;
  margin-right: 40px;
}
header .logo {
  color: #ababb3;
}
header nav {
  float: left;
}
header nav li {
  position: relative;
  list-style: none;
}
header nav li a {
  display: inline-block;
  padding-bottom: 8px;
  color: #6d6e7a;
}
header nav li a:hover {
  color: #47484f;
}
header nav li.active {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAICAYAAADwdn+XAAAARUlEQVR4AWPAB8yWPK4HYVzyxGj+D8X1FGhGGEKBZoQhpGg+AMQOUHyAoCEgCWSN6PJoBtVjaMalEY9B9XABnBoJG+QAAOtDc1H95pW/AAAAAElFTkSuQmCC);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 8px 4px;
}
header nav li.active a {
  color: #36a4e3;
}
.site-description {
  padding: 40px 0 80px;
}
.site-description h1 {
  font-size: 36px;
  line-height: 46px;
  color: #ababb3;
  text-align: center;
}
.content {
  padding: 120px 0 0;
}
.stories li {
  position: relative;
  padding-bottom: 30px;
  text-align: center;
  list-style: none;
}
.stories li:before {
  content: '';
  position: absolute;
  left: 50%;
  width: 60px;
  height: 4px;
  margin-left: -30px;
  background: rgba(219, 220, 226, 0.5);
}
.stories .article-excerpt {
  padding-bottom: 40px;
  font-size: 19px;
  line-height: 27px;
}
hgroup {
  padding: 60px 0 32px;
}
hgroup h1 {
  margin-bottom: 0;
}
hgroup h1 a {
  color: #47484f;
}
hgroup h1 a:hover {
  color: #36a4e3;
  background: linear-gradient(#fff 50%, #eef7fd 50%) no-repeat 0 50%;
  background-size: 100% 65%;
}
hgroup small {
  font-size: 15px;
}
hgroup small em {
  font-style: normal;
  color: #ababb3;
}
.half-width {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.half-width + .half-width {
  margin-right: 0;
}
.related-content {
  overflow: hidden;
  padding: 40px 0;
  margin-top: 80px;
  background: #f8f6f1;
}
.related-content h2 {
  padding-bottom: .7em;
  margin-bottom: 0;
  border-bottom: 1px solid #efebe0;
}
.related-content li {
  list-style: none;
}
.related-content li a {
  display: block;
  padding: 12px 15px;
  color: #9b9380;
  border-bottom: 1px solid #efebe0;
}
.related-content li a small {
  display: inline-block;
  float: right;
  padding: 0 7px;
  margin-top: 3px;
  min-width: 20px;
  height: 20px;
  font-size: 11px;
  line-height: 20px;
  text-align: center;
  background: #36a4e3;
  color: #fff;
  border-radius: 20px;
}
.related-content form {
  position: relative;
}
.related-content form [type=submit] {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  width: 48px;
  background: url('../img/search.png') no-repeat 50% 50%;
  background-size: 20px;
  border: none;
  text-indent: -999em;
  cursor: pointer;
}
.related-content input {
  display: block;
  width: 100%;
  padding: 8px 16px;
  margin: 12px 0;
  background: #f0ede4;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 2px 2px rgba(27, 26, 33, 0.1);
}
footer {
  padding: 30px 0;
  text-align: center;
  background: #1b1a21;
}
footer ul {
  padding-bottom: 20px;
}
footer ul li {
  display: inline-block;
  margin-right: 20px;
  list-style: none;
}
footer ul li:after {
  content: '/';
  margin-left: 20px;
  color: #47484f;
}
footer ul li:last-child:after {
  display: none;
}
footer ul a:hover {
  color: #90cdef;
}
footer p {
  font-size: 13px;
}
