RewriteEngine On

RewriteRule ^(.*)$ ../index.php?page=admin/$1 [L,QSA]

#	Edit
RewriteRule ^edit$ index.php [L,QSA]
RewriteRule ^edit/([0-9]+)$ index.php?page=$1 [L,QSA]

#	Add/Delete
RewriteRule ^add$ add.php [L,QSA]
RewriteRule ^delete/([0-9]+)$ delete.php?page=$1 [L,QSA]

#	Users
RewriteRule ^users$ users.php [L,QSA]
RewriteRule ^users/edit/([0-9]+)$ users.php?page=$1 [L,QSA]
RewriteRule ^users/add$ user_add.php [L,QSA]
RewriteRule ^users/delete/([0-9]+)$ user_delete.php?page=$1 [L,QSA]

#	General Settings
RewriteRule ^metadata$ settings.php [L]

#	Login/Logout
RewriteRule ^login$ login.php [L]
RewriteRule ^logout$ login.php?logout [L]