<article class="wrap">
	<hgroup>
		<h1>{{ post.title }}</h1>
		<p>Posted by {{ post.getAuthor.name }} <em>on the {{ post.published }}</em></p>
	</hgroup>

	<div class="article-content">
		{{& post.html }}
	</div>

	<small>
		<p>This article is my 1st. It is 0 words long.</p>
	</small>
</article>

<section class="related-content">
	<div class="wrap">
		<div class="half-width">
			<h2>Categories</h2>
			<ul>
				{{# categories }}
				<li>
					<a href="{{ url }}" title="{{ description }}">
						{{ title }}
						<small>{{ post_count }}</small>
					</a>
				</li>
				{{/ categories }}
			</ul>
		</div>
		<div class="half-width">
			<h2>Search my blog</h2>
			<form action="/search" method="get">
				<input name="q" placeholder="Search anything here.">
				<button type="submit">Search</button>
			</form>
		</div>
	</div>
</section>
