
<article class="wrap">
	<hgroup>
		<h1>{{ page.title }}</h1>
	</hgroup>

	<div class="article-content">
		{{& content }}
	</div>
</article>


<section class="related-content">
	<div class="wrap">
		<div class="half-width">
			<h2>Categories</h2>
			<ul>
				{{# categories }}
				<li>
					<a href="{{ url }}" title="{{ description }}">
						{{ title }}
						<small>{{ post_count }}</small>
					</a>
				</li>
				{{/ categories }}
			</ul>
		</div>
		<div class="half-width">
			<h2>Search my blog</h2>
			<form action="/search" method="get">
				<input name="q" placeholder="Search anything here.">
				<button type="submit">Search</button>
			</form>
		</div>
	</div>
</section>
