// main: main.less

.clearfix {
	&:before, &:after {
		content: ' ';
		display: table;
		clear: both;
	}
}

.pull-left { float: left; }
.pull-right { float: right; }

.small { font-size: 90%; }
.upper { text-transform: uppercase; }
.quiet { color: lighten(@blue, 20%); }
.hidden { display: none; }
.text-center { text-align: center; }
.empty { padding: 2rem 0; }
