/*
 *		Dribble [Pro Button] - v1.1
 *		by @visualidiot
 */

li.group span.badge.badge-pro, ol#comments .comment span.badge.badge-pro { width: 8px !important; height: 8px !important; border-radius: 5px !important; padding: 0 !important; text-indent: -999em !important; opacity: .2 !important; background-color: #444 !important; -webkit-transition: all .3s !important; display: block !important; }
	li.group span.badge { float: right !important; margin-top: 4px !important; }
	ol#comments li.comment span.badge { top: -5px !important; left: -3px !important; }
	ol#comments li.comment img { background: #fff !important; }
	ol#comments .comment:hover span.badge.badge-pro, li.group:hover span.badge { opacity: 1 !important; background-color: #ea4c88 !important; }
	.players-list span.badge { display: none !important; } /* Gotta work out how to fix this. */